In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

In [3]:
import pickle

data = {"data":[], "target":[]}
with open("data_sample/data1", "rb") as d, open("data_sample/target1", "rb") as t:
    data["data"] = pickle.load(d)
    data["target"] = pickle.load(t)

In [4]:
x = pd.DataFrame(data["data"])
y = pd.DataFrame(data['target'])

In [5]:
df = pd.concat([x, y], axis=1, join_axes=[x.index])

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,188,189,190,191,192,193,194,195,196,0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0,0,0,0,0,0,-1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0,0,0,0,0,0,-1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0,0,0,0,0,0,-1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0,0,0,0,0,0,-1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0,0,0,0,0,0,-1